.signup {
    width: 1000px;
    height: 540px;
    background: #ffffff;
    margin-left: 80px;
}

.signup h2 {
    width: 1000px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #333333;
}

.signup h2 span {
    margin-left: 20px;
    font-size: 20px;
    display: inline-block;
    width: 240px;
    border-bottom: 3px solid #008df3;
}

.signup h2 a {
    margin-left: 600px;
    font-size: 13px;
    color: #008df3;
    font-weight: normal
}

.signup form {
    margin-top: 100px;
}

.signup table {
    font-size: 14px;
    margin: auto auto;
    text-align: center;
}

.signup tr {
    height: 50px;
}
