<!--首页加载更多-->
{% load myfilter %}
{% for item in list %}
    <dl>
        <dt>
            <a href="/blog/article/{{ item.id }}/">
                <img src="/static/{{ item.pic }}">
            </a>
        </dt>
        <dd>
            <h2><a href="/blog/article/{{ item.id }}/">{{ item.title }}</a></h2>
            <p>
                <img src="/static/{{ item.author.photo.name }}">
                <a href="/blog/userinfo/{{ item.author.id }}/">{{ item.author.nickname }}</a>
                <span>{{ item.date | mytime }}</span>
                <span>浏览：{{ item.count }}</span>
                <span>评论：{{ item.comment_set.all.count }}</span>
                <span>点赞：{{ item.like }}</span>
                <span>{{ item.type.typename }}</span>
            </p>
        </dd>
    </dl>
{% empty %}
    <h1>数据已全部显示，没有新数据</h1>
{% endfor %}