{% extends "base.html" %}
{% load staticfiles %}
{% load myfilter %}

{% block title %}
    新码农-关于我
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/level1_myblurb/level1_myblurb.css">
    <link rel="stylesheet" href="/static/css/level1_myblurb/bootstrap.css">
    <link rel="stylesheet" href="/static/css/level1_myblurb/font-awesome.css">
{% endblock %}

{% block main %}
    <div class="header-agileinfo" style="background: url(/static/img/bg_myblurb.jpg) no-repeat center;">
        <div class="header-banner text-center">
            <div class="container">
                <div class="header-bottom">
                    <div class="col-md-4 col-sm-4 header-left">
                        <span class="fa fa-envelope-o icon" aria-hidden="true"></span>
                        <a href="https://mail.google.com/mail">gxr940301@gmail.com</a>
                    </div>
                    <div class="col-md-4 col-sm-4 logo">
                        <h1 class="main-title">
                            <a href="/">新码农</a>
                        </h1>
                    </div>
                    <div class="col-md-4 col-sm-4 header-right">
                        <span class="fa fa-phone icon" aria-hidden="true"></span>
                        <p>13383306337</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="banner-text">
                    <h4>welcome to coder site!</h4>
                    <h3>i'm quiet-G</h3>
                    <div class="banner-slide">
                        <h2 class="bnrtext" style="font-size: 20px;margin-left: 130px">
                            <a href="/blog/login/">登陆</a>
                            <a href="#">/</a>
                            <a href="/blog/signup/">注册</a>
                        </h2>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}