{% extends "base.html" %}
{% load staticfiles %}
{% load myfilter %}

{% block title %}
    新码农-{{ typename }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/level2_typelist.css">
{% endblock %}

{% block main %}
    <div class="itemlist">
        <h1>{{ typename }}</h1>
        <div>
            {% for item in page %}
                <dl>
                    <dt>
                        <a href="/blog/article/{{ item.id }}/">
                            <img src="/static/{{ item.pic }}">
                        </a>
                    </dt>
                    <dd>
                        <h2><a href="/blog/article/{{ item.id }}/">{{ item.title }}</a></h2>
                        <p>
                            <img src="/static/{{ item.author.photo.name }}">&nbsp;&nbsp;
                            <a href="/blog/userinfo/{{ item.author.id }}/">{{ item.author.nickname }}</a>&nbsp;&nbsp;
                            <span>{{ item.date | mytime }}</span>&nbsp;&nbsp;
                            <span>浏览：{{ item.count }}</span>&nbsp;&nbsp;
                            <span>评论：{{ item.comment_set.all.count }}</span>&nbsp;&nbsp;
                            <span>点赞：{{ item.like }}</span>&nbsp;&nbsp;
                            <a href="/blog/typelist/{{ item.type.id }}/">{{ item.type.typename }}>></a>
                        </p>
                    </dd>
                </dl>
            {% empty %}
                <h1>系统在维护中，请下次访问</h1>
            {% endfor %}
        </div>
    </div>
    <div class="pageniu">
    {% if page.has_other_pages %}
        {% if page.has_previous %}
            <a class="ye" href="/blog/typelist/{{ tid }}/{{ page.previous_page_number }}/">上一页</a>
        {% endif %}
        {% for i in prange %}
            <a class="shu" href="/blog/typelist/{{ tid }}/{{ i }}">{{ i }}</a>
        {% endfor %}
        {% if page.has_next %}
            <a class="ye" href="/blog/typelist/{{ tid }}/{{ page.next_page_number }}/">下一页</a>
        {% endif %}
        <span>{{ page.number }}/{{ p.num_pages }}</span>
    {% endif %}
    </div>
{% endblock %}