{% load staticfiles %}

{#侧边栏开始#}
<div class="sidebar">
    <div class="about">
        <p class="avatar"><img src="{% static 'images/logo_icon_.bmp' %}" title="本站站长"></p>
        <p class="abname">MR.G</p>
        <p class="abposition">Python全栈工程师</p>
        <p class="abtext">&nbsp;&nbsp;&nbsp;&nbsp;
            一个90后新码农！入行以来。一直潜心研究Python技术，一边工作一边积累经验，分享一些技术心得和人生感悟。
        </p>
    </div>
    <div class="tuijian">
        <h2 class="hometitle">打赏记录</h2>
        <ul class="sidenews">
            <p style="color: #9c27b0;margin-bottom: 20px">打赏人
                <e style="margin-left: 50px">打赏金额</e>
            </p>
            {% for item in rewards %}
                <li>
                    <span style="color: sandybrown">{{ item.name }}
                        <e style="margin-left: 60px">¥{{ item.money }}元</e></span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="weixin">
        <h2 class="hometitle">微信关注</h2>
        <ul>
            <img src="{% static 'images/wx.png' %}">
        </ul>
    </div>
</div>
{#侧边栏结束#}