{% load staticfiles %}

{#侧边栏开始#}
<div class="sidebar">

    {#首页特别推荐开始#}
    <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
            {% for item in articles_2 %}
                <li><i><img src="{% static item.pic.name %}"></i>
                    <p>{{ item.title }}<span>
                        <a href="{% url 'blog:article_detail' item.id %}" target="_blank">阅读</a></span></p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {#首页特别推荐结束#}

    {#首页推荐文章开始#}
    <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        {% if  articles_1_1 %}
            <ul class="tjpic">
                <i><img src="{% static articles_1_1.pic.name %}"></i>
                <p>
                    <a href="{% url 'blog:article_detail' articles_1_1.id %}"
                       target="_blank">{{ articles_1_1.title }}</a>
                </p>
            </ul>
        {% endif %}
        <ul class="sidenews">
            {% for item in articles_1 %}
                <li><i><img src="{% static item.pic.name %}"></i>
                    <p>
                        <a href="{% url 'blog:article_detail' item.id %}" target="_blank">{{ item.title }}</a>
                    </p>
                    <span>{{ item.addtime }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {#首页推荐文章结束#}

    {#首页点击排行开始#}
    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        {% if  articles_count_1 %}
            <ul class="tjpic">
                <i><img src="{% static articles_count_1.pic.name %}"></i>
                <p>
                    <a href="{% url 'blog:article_detail' articles_count_1.id %}"
                       target="_blank">{{ articles_count_1 }}</a>
                </p>
            </ul>
        {% endif %}
        <ul class="sidenews">
            {% for item in articles_count %}
                <li><i><img src="{% static item.pic.name %}"></i>
                    <p>
                        <a href="{% url 'blog:article_detail' item.id %}" target="_blank">{{ item.title }}</a>
                    </p>
                    <span>{{ item.addtime }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {#首页点击排行结束#}

    {#首页标签云开始#}
    <div class="cloud">
        <h2 class="hometitle">标签云</h2>
        <ul>
            {% for item in tags %}
                <a href="{% url 'blog:article_list' 'tag' item.id %}" target="_blank">{{ item.tagname }}</a>&nbsp;
            {% endfor %}
        </ul>
    </div>
    {#首页标签云结束#}

    {#首页友情链接开始#}
    <div class="links">
        <h2 class="hometitle">友情链接</h2>
        <ul>
            <li><a href="http://www.goodsmovie.top" target="_blank">好电影</a></li>
            <li><a href="https://www.yangqq.com/" target="_blank">青于蓝</a></li>
            <li><a href="https://www.yanshisan.cn" target="_blank">燕十三</a></li>
        </ul>
    </div>
    {#首页友情链接结束#}

    {#首页关注本站开始#}
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">关注本站</h2>
        <ul>
            <li class="qq"><a target="_blank"><span>QQ号</span>820685755</a></li>
            <li class="wxgzh"><a target="_blank"><span>微信号</span>gxr940301</a></li>
            <li class="email"><a target="_blank"><span>邮箱帐号</span>820685755@qq.com</a></li>
            <li class="wx"><img src="{% static 'images/wx.png' %}"></li>
        </ul>
    </div>
    {#首页关注本站结束#}

</div>
{#侧边栏结束#}