{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    新码农-关于我
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}

    {#背景图#}
    <div class="pagebg ab"></div>
    {#背景图#}

    <div class="container">

        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}

        <h1 class="t_nav">
            <span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span>
            <a href="/" class="n1">网站首页</a><a class="n2">关于我</a>
        </h1>
        <div class="news_infos">
            <ul>
                <h2>关于站长</h2>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                一个90后新码农！入行以来。一直潜心研究<span style="color: red">Python</span>技术，一边工作一边积累经验，分享一些技术心得和人生感悟。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                本站的关于<span style="color: red">技术</span>方面的文章，虽然不是本人的“<span style="color: red">纯纯纯</span>”原创，但是也是我整合各方搜索答案整理的纯干货，都是我<span
                    style="color: red">亲自实践且成功</span>的实例。有什么不正确的，欢迎留言板<span style="color: red">吐槽</span>！！！<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                另外，本站声明一点，本站的博客并不适合<span style="color: red">还没入门的小白</span>（<span style="color: red">站长还是个小白</span>），因为本站<span
                    style="color: red">没有系统学习的教程</span>，并且也不打算发布。本站的文章主要处理开发过程中遇到的各种问题，需要一定的<span style="color: red">基础知识储备</span>，望<span
                    style="color: red">谅解</span>，遇到问题请在<span style="color: red">评论区</span>提问。
                </p>
                <br/>
                <h2>关于本站</h2>
                <br/>
                <p>域&nbsp;&nbsp;&nbsp;&nbsp;名：<a href="http://www.newcoder.top">www.newcoder.top</a>&nbsp;
                    创建于2018-10-20 02:35:07&nbsp;
                </p>
                <br/>
                <p>服务器：阿里云服务器&nbsp;&nbsp;
                    <a
                            href="https://promotion.aliyun.com/ntms/act/campus2018.html?spm=5176.230344.1224685.2.3933443eqhsFsT"
                            target="_blank">
                        <span style="color:#FF0000;"><strong>前往阿里云官网购买（学生优惠）&gt;&gt;</strong></span>
                    </a>
                </p>
                <br/>
                <p>备案号：冀ICP备18036301号-1</p>
                <br/>
                <p>前&nbsp;&nbsp;&nbsp;&nbsp;端：青于蓝&nbsp;&nbsp;
                    <a
                            href="https://www.yangqq.com/download/div/"
                            target="_blank">
                        <span style="color:#FF0000;"><strong>前往青于蓝下载模板&gt;&gt;</strong></span>
                    </a>
                </p>
                <br/>
                <p>后&nbsp;&nbsp;&nbsp;&nbsp;台：Python-Django-MySQL</p>
            </ul>
        </div>

        {#信息侧边栏#}
        {% include 'blog/base_sidebar_me.html' %}
        {#信息侧边栏#}

    </div>
{% endblock %}
