{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    新码农-网站首页
{% endblock %}

{% block css %}
    <link href="{% static 'css/more.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <article>

        {#搜索概略#}
        <h2 style="margin-bottom: 20px;margin-left: 20px">
            与"{{ keyword }}"有关的文章或作者，共( {{ articles_num }} )篇
        </h2>
        {#搜索概略#}

        {#搜索结果#}
        <div class="blogsbox">

            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}

            <div class="itemlist">
                {% for item in articles %}
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                        <h3 class="blogtitle">
                            <a target="_blank" href="{% url 'blog:article_detail' item.unique_id %}">
                                {{ item.title }}
                            </a>
                        </h3>
                        <span class="blogpic">
                            <a target="_blank" href="{% url 'blog:article_detail' item.unique_id %}">
                                <img src="{% static item.pic.name %}" alt="">
                            </a>
                        </span>
                        <p class="blogtext">{{ item.label }}</p>
                        <div class="bloginfo">
                            <ul>
                                <li class="author">
                                    <a href="{% url 'blog:author_info' item.author.unique_id %}" target="_blank">
                                        {{ item.author.nickname }}
                                    </a>
                                </li>
                                <li class="lmname">
                                    <a href="{% url 'blog:article_list' 'type' item.type.unique_id %}"
                                       target="_blank">{{ item.type.typename }}</a>
                                </li>
                                <li class="timer">{{ item.addtime }}</li>
                                <li class="view"><span>{{ item.count }}</span>已阅读</li>
                                <li class="like">{{ item.like }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#搜索结果#}

        {#侧边栏#}
        {% include 'blog/base_sidebar_me.html' %}
        {#侧边栏#}

    </article>
{% endblock %}