{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    新码农-修改密码
{% endblock %}

{% block css %}
{% endblock %}

{% block main %}
    <article>
        <div class="picsbox">

            {#会员侧边栏#}
            {% include 'user/level1_user_menu.html' %}
            {#会员侧边栏#}

            <h3>修改密码</h3>
            {% if messages %}
                <script>
                    {% for msg in messages %}
                        alert('{{ msg.message }}');
                    {% endfor %}
                </script>
            {% endif %}

            <form method="post" enctype="multipart/form-data" action="{% url 'user:repwd' user.id %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>原密码</td>
                        <td colspan="2"><input type="password" name="password_old" placeholder="输入旧密码" required></td>
                    </tr>
                    <tr>
                        <td>新密码</td>
                        <td colspan="2"><input type="password" name="password_new" placeholder="输入新密码" required></td>
                    </tr>
                    <tr>
                        <td>确认新密码</td>
                        <td colspan="2"><input type="password" name="password_new2" placeholder="确认新密码" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" value="修改"></td>
                    </tr>
                </table>
            </form>
        </div>
    </article>
{% endblock %}

