{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    新码农-收藏记录
{% endblock %}

{% block css %}
    <link href="{% static 'css/comment.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <article>

        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}

        <div class="news_pl">
            {#会员侧边栏#}
            {% include 'user/level1_user_menu.html' %}
            {#会员侧边栏#}
            <h3>收藏记录</h3>
            <div class="itemlist">
                {% for item in articlecols %}
                    <div class="blogs zpl" style="width: 600px">
                        <span class="blogpic pltx">
                                <img src="{% static item.user.photo.name %}" style="width: 50px;height: 50px">
                        </span>
                        <div class="blogtext plyh">
                            收藏
                            <a target="_blank"
                               href="{% url 'blog:article_detail' item.article.unique_id %}">
                                {{ item.article.title }}
                            </a>
                            于 {{ item.addtime }}
                        </div>
                        <div class="bloginfo plnr">
                            <p>
                                {% autoescape off %}
                                    {{ item.content | safe }}
                                {% endautoescape %}
                            </p>
                        </div>
                        <a href="{% url 'user:articlecol_del' item.unique_id %}">删除</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}